.kanban {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ajustado para centrar las secciones en ordenadores */
  align-items: center; /* Alineado al centro verticalmente */

  &_section {
    width: 100%;
    max-width: 400px;
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

    &_title {
      font-size: 1.2rem;
      font-weight: 700;
      margin: 10px 0 20px;
      text-align: center;
    }

    &_content {
      & > * ~ * {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .kanban {
    justify-content: space-around;
  }

  .kanban_section {
    flex: 1;
    margin: 10px;
  }
}

.kanbanheader {
  font-size: 2.5em;
  text-align: center;
  color: #ff8c00;
  margin: 30px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #ff8c00;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
  border-radius: 8px;

  .footer {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #ffa500;
    }
  }
}

.kanbandescription {
  text-align: center;
}
